openapi: 3.0.3

info:
  title: EC Sales API
  description: |
    API endpoints related to EC Sales management, engagement insights,
    and customer reporting.
  version: "1.0.0"

servers:
  - url: https://be.eurocircuits.com
    description: Primary Production Server

paths:

  /ecpy/token/:
    post:
      summary: Get Authentication Token
      description: Generate a JWT bearer token using credentials.
      tags: [Authentication]

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: "sales-user"
                password:
                  type: string
                  example: "********"
      responses:
        "200":
          description: Token successfully generated
          content:
            application/json:
              example:
                access_token: "<JWT_TOKEN>"
        "400":
          description: Invalid credentials
        "500":
          description: Server error

  /ecpy/sales/get_customer_usage_engagement/:
    post:
      summary: Customer Engagement Usage Report
      description: Fetch customer usage, engagement, and statistical data.
      tags: [Reports]
      security:
        - bearerAuth: []

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              example:
                company_name: "dev"
                created_from_date: ""
                created_till_date: ""
                country: ""
                account_manager: ""
                last_basket_created_on_from_date: ""
                last_basket_created_on_to_date: ""
                last_inquiry_date_from_date: ""
                last_inquiry_date_to_date: ""
                last_data_uploaded_from_date: ""
                last_data_uploaded_to_date: ""
                company_dup: ""
                limit: "100"
                page_number: 1
                log_data:
                  ec_user_id: 1
                  ec_username: "sample@domain.com"

      responses:
        "200":
          description: Successful response with engagement data
        "401":
          description: Unauthorized - invalid or missing JWT token
        "500":
          description: Internal server error

  /ecapieng/api/sales_search_customers:
    post:
      summary: Search Customers
      description: Search customers based on email, country, or registration date.
      tags: [Customer]
      security:
        - bearerAuth: []

      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: ""
                customerName: ""
                country: ""
                registrationDateFrom: ""
                registrationDateTo: ""
                rowLimit: "200"

      responses:
        "200":
          description: Successfully returned matching customer records
        "401":
          description: Unauthorized
        "500":
          description: Server error

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
