name: Sync OpenAPI to SwaggerHub

on:
  push:
    paths:
      - 'api-specs/**/openapi.yml'
    branches:
      - main
      - development

jobs:
  swaggerhub-sync:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Find changed APIs and upload to SwaggerHub
      env:
        SWAGGERHUB_API_KEY: ${{ secrets.SWAGGERHUB_API_KEY }}
      run: |
        for spec in $(find api-specs -name "openapi.yml"); do
        echo "Processing: $spec"

        app=$(echo "$spec" | cut -d'/' -f2)
        version=$(grep -m 1 "version:" "$spec" | sed 's/version://; s/"//g; s/ //g')

        echo "App: $app, Version: $version"

        npx swaggerhub api:update \
            intellial-solutions/$app/$version \
            --file "$spec" \
            --token $SWAGGERHUB_API_KEY \
            --visibility private \
            --force \
            --debug || {

            echo "--- SwaggerHub update failed, trying CREATE ---"

            npx swaggerhub api:create \
            intellial-solutions/$app/$version \
            --file "$spec" \
            --token $SWAGGERHUB_API_KEY \
            --visibility private \
            --debug
        }

        echo "Uploaded $app v$version to SwaggerHub"
        done
