name: Validate & Publish API Specs

on:
  pull_request:
    branches: [ "development", "main" ]
  push:
    branches: [ "development", "main" ]

jobs:
  lint-api:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Spectral
      run: npm install -g @stoplight/spectral

    - name: Lint all openapi.yml files
      run: |
        for f in $(find api-specs -name "openapi.yml"); do
          spectral lint "$f"
        done

  publish-docs:
    if: github.ref == 'refs/heads/development'
    needs: lint-api
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build Swagger UI Documentation
      run: |
        mkdir -p docs
        for app in $(ls api-specs); do
          mkdir -p docs/${app}-ui
          cp api-specs/$app/openapi.yml docs/${app}-ui/
          curl -L https://raw.githubusercontent.com/swagger-api/swagger-ui/master/dist/index.html > docs/${app}-ui/index.html
          sed -i 's#https://petstore.swagger.io/v2/swagger.json#/openapi.yml#g' docs/${app}-ui/index.html
        done

    - name: Publish
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
